<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Insta Buy</title>
  @Styles.Render("~/Styles/css")
  @Scripts.Render("~/bundles/modernizr")
  ]
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header" style="float: right;margin-top: 10px;">
        <audio id="player" src="../../images/dance.mp3" autoplay></audio>
        <span>
          <a onclick="musicPlayer()"><i class='fa fa-volume-up fa-2x'></i></a>
        </span>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Insta Buy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="@Url.Action("Index", "Home")">
              <i class="fa fa-home"></i>
              <span> Home</span>
            </a>
          </li>
          <li>
            <a href="@Url.Action("About", "Home")">
              <i class="fa fa-info-circle"></i>
              <span> About</span>
            </a>
          </li>
          <li>
            <a href="@Url.Action("Contact", "Home")">
              <i class="fa fa-phone"></i>
              <span> Contact</span>
            </a>
          </li>
          <li>
            <a href="@Url.Action("Cart", "Orders")">
              <i class="fa fa-shopping-cart"></i>
              <span> Cart</span>
            </a>
          </li>
          <li>
            <a href="@Url.Action("WishList", "Orders")">
              <i class="fa fa-heart"></i>
              <span> Wish List</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - Insta Buy - Sikelela Nkohla</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/Script/Bundles")
  @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
  function musicPlayer() {
    if (document.getElementById('player').paused) {
      document.getElementById('player').play();
    }
    else {
      document.getElementById('player').pause();
    }
  }
  </script>