@model IEnumerable<InstaBuy.Models.OrderStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatusCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatusCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderStatusID })
        </td>
    </tr>
}

</table>
